.App {
  display: flex;
  justify-content: center;
}

.stage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 500px;
}

.highlighted {
  color: #1264a3;
  background: #e8f5fa;
}

h3 {
  height: 100px;
}